body {
    font-family: "Arial", sans-serif;
    background-color: black;
    color: white;
}
.game--title{
    color: white;
}
section {
    text-align: center;
}
.game--container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 306px;
    box-shadow: 3px 0px 16px #aaaaaa;
    margin: 50px auto;
}
.cell {
    font-family: "Permanent Marker", cursive;
    width: 100px;
    height: 100px;
    box-shadow: 0 0 0 1px #333333;
    border: 1px solid #333333;
    
    cursor: pointer;

line-height: 100px;
    font-size: 60px;
}
.cell:hover{
    box-shadow: 3px 0px 16px #aaaaaa;
}
.game--restart{
    border-radius: 20px;
    height: 50px;
    width: 150px;
    color: white;
    background-color: #ffc107;
    font-size: 20px;
    -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 1.7s;
}

.game--restart:hover{
    color:black;
    /* background-color: gray; */
    box-shadow: inset 400px 0 0 0 rgb(161, 161, 161);
}